/*
 *  filename:       MyTeam.css
 */

table#teamList  
{  
    border: 1px grey solid;
    border-collapse: collapse; 
    width: 95%;
}
#teamList tbody>tr:hover
{  
    background-color: #45463d; 
    color:White; 
} 
#teamList th 
{  
    padding: 10px 18px;  
    text-align:left;
}

#teamList td 
{  
    padding: 10px 18px;  
}

table#teammates{
    border: 1px grey solid;
    border-collapse: collapse;
    width: 40%;
}
#teammates td{
    padding: 10px 18px;  
}
#teammates tbody>tr:hover
{  
    background-color: #45463d; 
    color:White;
    font-weight: 600;
} 
#teammates th 
{  
    padding: 10px 18px;  
    text-align:left;
}